.statusLeftBottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoomControl {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
