.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: (1000-50)/2;
  height: auto;
  overflow: hidden;
}

.mapImage {
  width: auto;
  height: auto;
  object-fit: cover;
}
