.pageBackground {
  height: 100vh;
  width: 100%;
  background: url("@/assets/background.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  --icn-color: #ffffff;
  --font-main: "Roboto", "Noto Sans KR", sans-serif;
  --font-alt: "monospace";
}

.pageBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

html,
body {
  height: 100%;
  margin: 0;
  /* font-size: 12px; */
  font-family: var(--font-alt);
  color: var(--txt-color);
}

.searchTitleText {
  font-family: var(--font-main);
  font-size: 52px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  z-index: 2;
}

.cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.cntrInnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapLink {
  margin-top: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: text-decoration 0.3s ease-in-out;
  margin-bottom: 20px;
}

.mapLink:hover {
  text-decoration: underline;
}
