.page-background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    360deg,
    #ffffff 30%,
    #ebf7ff,
    #d2eaff,
    #69edff,
    #00dbff
  );
  background-size: cover;
  --txt-color: #1f2937;
  --icn-color: #ffffff;
  --font-main: "Roboto", "Noto Sans KR", sans-serif;
  --font-alt: "monospace";
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 13px;
  font-family: var(--font-alt);
  color: var(--txt-color);
}

p {
  margin-top: 30px;
  text-align: center;
}

/*** CONTAINER STYLES ***/
.cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.cntr-innr {
  text-align: center;
  transform: translateY(-50px); /* 기존 위치에서 50px 위로 이동 */
}

/*** SEARCH STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0 8px 7px 0;
  padding: 7px 9px 0 9px;
  border: 3px solid var(--icn-color);
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}

.search::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: var(--icn-color);
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}

.search.active,
.search:hover {
  width: 200px;
}

.search.active::after,
.search:hover::after {
  height: 0;
}

.search input {
  width: 100%;
  border: none;
  font-family: var(--font-main);
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline: none;
}
