.statusLeftBottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
