/* .infoPageContainer {
  display: flex;
  justify-content: center;
} */

.mainContent {
  flex-direction: column;
  padding-top: 80px;
  box-sizing: border-box;
}

.infoContent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.vehicleNumber {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  align-self: flex-start;
  padding: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.mapSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapWrapper {
  width: 100%;
  height: 600px;
  border-radius: 8px;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.ticketSection {
  justify-content: center;
}

.allVehiclesSection {
  justify-content: center;
}

.driveStatus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
}
