.statusContainer {
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.statusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.statusRunning .statusCircle {
  background-color: green;
}

.statusStopped .statusCircle {
  background-color: red;
}

.statusUnmonitored .statusCircle {
  background-color: gray;
}

.statusText {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.statusRunning .statusText {
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.8);
}

.statusStopped .statusText {
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
}

.statusUnmonitored .statusText {
  text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.8);
}
