.status-container {
  width: 80px;
  height: 50px;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-running .status-circle {
  background-color: green;
}

.status-stopped .status-circle {
  background-color: red;
}

.status-unmonitored .status-circle {
  background-color: gray;
}

.status-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.status-running .status-text {
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.8);
}

.status-stopped .status-text {
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
}

.status-unmonitored .status-text {
  text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.8);
}
