.infoPageContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  /*width: 100%;*/
  height: 80px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 100;
  max-width: calc(100% - 250px);
}

.infoContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px 20px 20px;
  overflow-y: auto;
}

.mapSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapWrapper {
  width: 1000px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
