/* App.css */
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: sans-serif;
}
