.battery-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5px;
  color: #ffffff;
}

.battery .fa-stack {
  font-size: 4rem;
  line-height: 1;
}

/* 배터리 애니메이션 */
.battery {
  > [class*="fa-battery"] {
    animation: showhide 5s steps(1) infinite;
    opacity: 0;
  }
}

.battery-drain {
  > .fa-battery-full {
    animation-delay: -5s;
  }
  > .fa-battery-three-quarters {
    animation-delay: -4s;
  }
  > .fa-battery-half {
    animation-delay: -3s;
  }
  > .fa-battery-quarter {
    animation-delay: -2s;
  }
  > .fa-battery-empty {
    animation-delay: -1s;
  }
}

@keyframes showhide {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
